$box-red: hsl(0, 78%, 62%);
$box-cyan: hsl(180, 62%, 55%);
$box-orange: hsl(34, 97%, 64%);
$box-blue: hsl(212, 86%, 64%);

// ### Neutral

// - Very Dark Blue: hsl(234, 12%, 34%)
$paragraph-color: hsl(229, 6%, 66%);
$background-color: hsl(0, 0%, 98%);